# Global Options
{
	auto_https disable_redirects
	http_port 8000
	https_port 8443
	log {
		format json {
			time_format iso8601
			time_local
		}
	}
}

# Site Blocks
localhost:8000, localhost:8443, :8000, :8443 {
	reverse_proxy {$UPSTREAMS:app.getogrand-hypermedia:8000}
}
