# Global Options
{
	debug
	http_port 8000
	https_port 8443
	log {
		format json {
			time_format iso8601
			time_local
		}
	}
}

# Site Blocks
localhost {
	reverse_proxy app-prod:8000
	encode zstd gzip
}
getogrand.com {
	reverse_proxy app-prod:8000
	encode zstd gzip
}
